# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.GravitySpheres.iml
# Datasource local storage ignored files
/../../../../../../:\Pobieranie\GravitySpheres\.idea\.idea.GravitySpheres\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
